.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #201A48;
  border-radius: 16px;
  border: 1px solid var(--main-button-color);
  width: 312px;
  height: 319px;
  padding: 24px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.service-icon {
    margin-bottom: 10px;
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--main-button-color);
}

.service-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.service-title {
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    padding-top: 10px;
}

.service-description {
  font-size: 16px;
  line-height: 26px;
  flex-grow: 1; /* Makes description expand if needed */
  overflow-wrap: break-word;
}

.learn-more {
    align-items: center;
    border-radius: 30px;
    border-color: var(--main-button-color);
    border-width: 1px;
    color: var(--main-button-color);
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 13px 20px 13px 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 190px;
    height: 48px;
    transition: all 0.3s ease;
    margin-top: auto; /* Push button to bottom */
}

.learn-more:hover {
    color: #001F3F;
    background-color: #fff;
    border-color: #fff;
}