@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/app/global.css */
body {
  margin: 0;
  background-color: #000000;
  color: white;
  font-family: 'Poppins', sans-serif;
}


html {
  scroll-behavior: smooth;
}